.navbar-font{
    font-family: 'Cabin', sans-serif;
}

.search-div{
    position: absolute;
    right: 0px;
}

.search-btn{
    padding: 9px;
}

.nav-prof-pic{
    position: relative;
    float: left;
    bottom: 5px;
    margin-right: 5px;
    height: 30px;
}

.nav-left-end{
    margin-left: 50px;
}

.nav-right-end{
    margin-right: 30px;
}